@model IEnumerable<ejercicio1.Models.Ejercicio1>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.contraseña)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipousuario)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.contraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipousuario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.usuario }) |
                @Html.ActionLink("Details", "Details", new { id=item.usuario }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.usuario })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
